@charset "utf-8";

/* ====================== General styling ====================== */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
	background-color: #fdfdfd;
	margin: 0;
}

ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0 #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

/* ====================== Footer ====================== */

.footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  /*height: 80px; /* Avoid fixed size */
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: 0;
  /* margin: auto; /* Not neccessary, parent is already center */
}

nav h1 a {
  /* Layout: */
  display: block;
  padding: 20px 0; /* Padding make anchor interactive area bigger so that
                      can be easy clicked by finger.
                    */

  /* Avoid overflow: */
  text-overflow: ellipsis;
  overflow: hidden;

  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* Breadcrumb
    - Use class selector instead of id
    - Width: 100% by default
*/
.breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
}

/* Display list items side by side */
.breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */

.map-container {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

.map {
  width: 100%;
  height: 100%;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  /* Make filter always visible, independent of scroll position */
  position: sticky;
  top: 0;

  z-index: 9999; /* Put this over some items with position relative */

  padding: 10px;
  background-color: #3397DB;
  text-align: center;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ======================
    - Selectors are now classes instead of ids
    - Selector are following BEM methodology
    - Each list element are now more semantic, with header, main and footer.
*/
.restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0 auto;
  padding: 30px 15px 60px;
  text-align: center;
}

.restaurant {
  display: inline-block;
  margin: 10px 0;
  vertical-align: top;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
  box-shadow: 1px 1px 12px rgba(0,0,0,0.2);
}

.restaurant__header {
  background: silver no-repeat center center;
  background-size: cover;
  position: relative;
}

.restaurant__image {
  display: block;
  width: 100%;
}

.restaurant__name {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #FFF;
  background-color: rgba(37, 40, 49, 0.6);
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 0;
  padding: 8px 0;
  text-transform: uppercase;
}

.restaurant__main {
  padding: 8px 16px;
  font-size: 11pt;
}

.restaurant__footer {
  padding: 8px;
  text-align: right;
}

.restaurant__more {
  background-color: orange;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 23px;
}

@media screen and (min-width: 600px) {

  .restaurant {
    margin: 20px;
    max-width: 200px;
  }

}

/* ====================== Restaurant Details ====================== */

.details__name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 40px 30px; /* add some lateral margins */
  text-transform: uppercase;
  line-height: 1.1;
}

.details__img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.details__cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

.details__address {
  font-size: 12pt;
  margin: 10px 40px; /* Add some lateral margin */
}

.details__hours {
  margin: 0 auto;
}

.details__hours td {
  color: #666;
}

/* ====================== Restaurant Reviews ====================== */

.reviews {
  padding: 20px 20px 80px; /* Narrower values to take advantage of the
                              available space for small screens.*/

  max-width: 600px; /* avoid too wide reviews */

  /* center section horizontally */
  margin-left: auto;
  margin-right: auto;
}

.reviews__title { /* using title instead of h2 to split structure from stile */
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

.reviews__list {
  margin: 0;
  padding: 0;
}

.reviews__list__item {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  /* position: relative; /* not necessary */
  /* width: 85%; /* not neccessary */
}

@media screen and (min-width: 900px) {

  [data-page="restaurant"] header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  [data-page="restaurant"] .maincontent {
    width: 50%;
    margin-top: 134px; /* TODO: too fragile, refactor with flexbox */
  }

  [data-page="restaurant"] .map-container {
    /* TODO: map layout is too fragile, refactor with flexbox */
    position: fixed;
    top: 119px;
    right: 0;
    bottom: 66px;
    width: 50%;
    height: auto;
  }

  [data-page="restaurant"] .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

}

@media screen and (min-width: 1200px) {

  [data-page="restaurant"] .maincontent {
    width: 600px;
  }

  [data-page="restaurant"] .map-container {
    left: 600px;
    width: auto;
  }

}
